body {
    text-align: center;
    background-color: var(--back-color);
    color: var(--fore-color);
}
:root {
    --height: 30px;
}

#game-container {
    display: none;
}

button, input {
    background-color: var(--back-color);
    color: var(--fore-color);
}

/* INIT DIV */
input#teams-amount, input#league-name {
    width: 350px;
    font-size: 30px;
    text-align: center;
    height: 36px;
    line-height: 36px;

    padding: 3px;
    border: solid var(--fore-color) 1px;
    border-radius: 2px;
}
input#rounds-amount {
    width: 200px;
    font-size: 20px;
}
input#league-name::placeholder {
    color: var(--place-holder-color);
    font-size: 25px;
}

input#teams-amount:read-only, input#league-name:read-only {
    padding: 3px;
    border: solid var(--fore-color) 1px;
    border-radius: 2px;
    background-color: var(--back-color) !important;
}

input#league-name {
    font-size: 26px;
}

#inputs-div {
    width: max-content;
    margin: auto;
}
#inputs-div br {
    clear: both;
}

.init-team-div {
    margin: 5px;
    margin-left: 40px;

    font: normal 20px 'Verdana';
    width: 300px;
    text-align: center;
    float: left;
}
.init-team-div::placeholder {
    color: var(--place-holder-color);
}
.check-div {
    width: 26px;
    height: 26px;

    float: left;
    margin: 7px;

    border-radius: 50%;
    outline: solid var(--border-color) 2px;

    font: bold 20px 'Verdana';
    line-height: 26px;
    color: var(--border-color);
    visibility: hidden;
}

#init-properties-div {
    display: none;
}
#colors-div input {
    margin-bottom: 4px;
}
#colors-div div {
    width: 30px;
    height: 30px;
    float: left;
    outline: solid var(--fore-color) 1px;
}

/* TEAMS TABLE */
.teams-table img {
    height: 32px;
    float: left;
    margin-top: 8px;
    margin: 5px;
}
.teams-table div {
    margin-right: 10px;
    margin-top: 4px;
    float: left;

    font: normal 20px 'Verdana';
    height: var(--height);
    line-height: var(--height);
}

.teams-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.teams-table, tr, td, th {
    border: solid var(--fore-color) 1px;
}

.teams-table td:nth-child(1) {
    font-size: 30px;
}

.teams-table tr {
    height: var(--height);
    text-align: center;
}

.teams-table td:not(:nth-child(1), :nth-child(2)) {
    padding: 10px;
    font: normal 20px 'Verdana';
}
.teams-table td:nth-child(3) {
    font: bold 24px 'Verdana';
}

.teams-table tr:nth-child(1) {
    background-color: var(--select-color-1);
}
.teams-table th {
    font: bold 20px 'Caladea';

    padding-left: 10px;
    padding-right: 10px;
}

/* MATCHES TABLE */
#matches-table {
    border-collapse: collapse;
    margin: auto;
}

#matches-table td {
    padding: 2px;
}

#matches-table img {
    width: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

#matches-table span {
    font: normal 22px 'Verdana';
    height: var(--height);
    line-height: var(--height);
}
#matches-table b {
    margin: 10px;
    font-size: 35px;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    appearance: textfield;
}

input[type="number"] {
    width: 20px;
    padding: 3px;
    font: normal 23px 'Verdana';
    text-align: center;
}
input:disabled {
    background-color: var(--back-color);
    border: solid var(--fore-color-2) 1px;
    border-radius: 3px;
}

#matches-table td:first-child {
    text-align: left;
    width: 360px;
}
#matches-table td:last-child {
    text-align: right;
    width: 360px;
}
#matches-table td:nth-child(2) {
    width: 120px;
    text-align: center;
}

button {
    margin: 20px;
    font: normal 26px 'Verdana';
    padding: 3px;
    width: 180px;
    cursor: pointer;
    
    border-width: 1px;
    border-radius: 3px;
    background-color: var(--button-color-1);
}
button:hover {
    background-color: var(--button-color-2);
}

#round {
    font: normal 30px 'Verdana';
    margin-bottom: 5px;
}

.color-input {
    width: 160px !important;
    padding: 1px !important;
    font: normal 20px 'Verdana' !important;
}

/* STATISTICS */
.places-table td {
    font: normal 25px 'Verdana' !important;
}

/* Settings */
img#settings {
    position: fixed;
    right: 0px;
    top: 0px;

    width: 60px;
    margin: 20px;
    
    border: solid var(--back-color) 3px;
    border-radius: 50%;
    filter: invert(45%);
    cursor: pointer;
}