body {
    overflow-x: hidden;
    overflow-y: scroll;
    
    user-select: none;
    margin-top: 30px;
}
body *:not(input)::selection {
    background-color: #0000;
}

#container {
    margin-top: 40px;
}
#pots {    
    margin: auto;
    margin-top: 50px;

    width: 95%;
    height: max-content;
    text-align: center;
}
#teams {
    width: max-content;
    
    margin: auto;
    margin-top: 40px;
    text-align: left;
}
h2 {
    margin: 2px;
}

input {
    font-size: 28px;
}

#pots-container {
    display: block;
}
#groups-container {
    width: 95%;
    display: none;
}

.teams-table {
    width: 230px;
    margin-left: 20px;
    margin-right: 20px;

    border: none;
    display: inline-block;
}
.teams-table img {
    position: absolute;
    height: 20px;
    left: 5px;

    top: 0px;
    bottom: 0px;
    margin: auto;
}
.teams-table div {
    position: absolute;
    margin: 0px;
    left: 40px;
}
.teams-table tr:first-child {
    font-size: 25px;
}
.teams-table tr:last-child {
    border-bottom: solid var(--fore-color) 1px;
}
.teams-table tr {
    display: block;
    border-bottom: none;
    position: relative;
}

.group-table {
    width: 140px !important;
}
.group-table tr {
    font-size: 20px !important;
    height: max-content;
}
.group-table tr:not(:first-child) {
    height: 22px;
}

#input-div {
    width: max-content;
    display: inline-block;
}

#container input[type="text"] {
    width: 300px;
    padding: 2px;
    font-size: 20px;
}
div#teams-amount {
    display: inline;
    position: absolute;
    font-size: 30px;

    margin-top: -4px;
    margin-left: 8px;
}
div#total-teams-amount {
    display: inline;
}

.team-elem {
    position: relative;
    width: 280px;
    height: 60px;
    float: left;

    font-size: 25px;
    line-height: 60px;

    border: solid var(--border-color) 1px;
    margin: 5px;
    background-color: var(--back-color-2);
    cursor: pointer;
}
.team-elem img {
    position: absolute;
    left: 5px;
    height: 70%;

    top: 0px;
    bottom: 0px;

    margin: auto;
}
.team-elem div {
    position: absolute;
    left: 76px;
}
.flying-elem {
    position: absolute;
    z-index: 3;
    visibility: visible !important;
    pointer-events: none;
}

.team-selected {
    background-color: var(--select-color-2) !important;
    cursor: pointer;
    font-weight: bold;
}
.pot-selected {
    background-color: var(--select-color-2) !important;
    font-weight: bold;
}

select {
    color: var(--fore-color);
    background-color: var(--back-color);
}

#pots-inputs-div input {
    width: 300px;
}
select#teams-mode-select {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#button-draw-start {
    display: none;
}